<h2>Página Principal</h2>

<div *ngIf="identificado; else noIdentificado">
    <h3>Estás identificado en la aplicación</h3>
</div>

<ng-template #noIdentificado>
    <p>No estás idenficado, pulsa este botón para identificarte</p>
    <button (click)="setIdentificado()">Identificarse</button>
</ng-template>