<div [ngStyle]="{
                'background': config.fondo,
                'padding': '20px',
                'border': '5px solid black',
                'border-color': 'config.color'
                }">
  <h1>Bienvenido al {{ title }}</h1>
  <p>{{descripcion}}</p>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive] = "['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive] = "['active']">Zapatillas</a>
    &nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive] = "['active']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/videojuegos']" [routerLinkActive] = "['active']">Videojuegos</a>
    &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive] = "['active']">Externo</a>
    &nbsp;
    <a [routerLink]="['/contacto']" [routerLinkActive] = "['active']">Contacto</a>

  </nav>
  <hr>

  <!--
  <button (click)="ocultarVideojuegos(false)" *ngIf="mostrarVideojuegos">Ocultar</button>
  <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrarVideojuegos">Mostrar</button>


  <videojuego *ngIf="mostrarVideojuegos"></videojuego>
  <zapatillas></zapatillas>
  <cursos></cursos>

  -->
  <!--  <zapatillas></zapatillas> -->
  <router-outlet></router-outlet>
</div>