<h2>{{titulo}}</h2>

<p>Añadir marca</p>

<p>
  <input type="text" [(ngModel)]="miMarca" (keyup.enter)="mostrarPalabra()">
  <button (click)="getMarca()">Mostrar Marca</button>
  <button (click)="addMarca()">Añadir Marca</button>
</p>
<strong>{{miMarca}}</strong>

<p>Compra las zapatillas de las mejores marcas</p>
<ul>
  <li *ngFor="let marca of marcas; let indice = index">
    {{indice + ' - ' + marca}}
    <button (click)="borrarMarca(indice)">Borrar</button>
  </li>
</ul>
<p>Las zapatillas que tenemos disponibles son las siguientes:</p>


<ul>
  <li *ngFor="let deportiva of zapatillas">

    <span [ngStyle]="{
        'text-decoration': !deportiva.stock ? 'line-through' : 'none'
    }"> {{deportiva.nombre}} - <strong
    [class.altoPrecio]= "deportiva.precio >= 80"
    [ngClass]="{
        'fondoRojo': deportiva.precio > 100,
        'subrayado': deportiva.marca == 'Nike'
    }"
    > $ {{deportiva.precio}} </strong>
    </span>
    <span [style.color]="deportiva.precio <= 80" [style.background]="deportiva.precio <= 80 ? 'green' : 'transparent'"
      [style.color]="deportiva.precio <= 80 ? 'white' : 'black'"
      >¡EN OFERTA!</span>
  </li>
</ul>

<p>El color de la mayoría de nuestras zapatillas es: </p>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase='"yellow"'>El color predominante es el <span [ngStyle]="{'background': color}">amarillo</span></li>
  <li *ngSwitchCase='"red"'>El color predominante es el <span [ngStyle]="{'background': color}">rojo</span></li>
  <li *ngSwitchCase='"blue"'>El color predominante es el <span [ngStyle]="{'background': color}">azul</span></li>
  <li *ngSwitchCase='"orange"'>El color predominante es el <span [ngStyle]="{'background': color}">naranja</span></li>
</ul>
