<h1>Proyecto de Angular</h1>
<header>
<ul>
  <li><a [routerLink]="['/sobreMi']">Sobre Mi</a></li>
  <li><a [routerLink]="['/proyectos']">Proyectos</a></li>
  <li id="logo"><a href="#">LM</a></li>
  <li><a [routerLink]="['/crearProyecto']">Crear Proyectos</a></li>
  <li><a [routerLink]="['/contacto']">Contacto</a></li>
</ul>
</header>

<section id="content">
  <router-outlet></router-outlet> 
</section>

<footer>
  Master en Javascript
</footer>