body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}
#logo{
    background: #235E3D;
}
#menu ul li:hover{
    background: #235E3D;
}
.buttonMore{
    background: #235E3D;
}