*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 2px grey;
}
#logo{
    font-family: Verdana, Arial;
    font-size: 30px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    width: 385px;
    height: 75px;
    float: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 80px;
}
#menu{
    font-family: Helvetica,Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#menu ul{
    line-height: 46px;
    list-style: none;
}
#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 3000ms;
}
#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}
.clearfix{
    float: none;
    clear: both;
}
#posts{
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
}
#post{
    padding:5px;
    text-align: justify;
}
#posts h2{
    font-size: 30px;
    color: #333;
}
#posts .date{
    display: block;
    color: grey;
    margin-top: 5px;
}
#posts p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}
.buttonMore{
    font-size: 14px;
    text-align: center;
    padding:15px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: 70px;
    margin-bottom: 20px;
}
#sidebar{
    font-family: Helvetica, Arial;
    width: 31%;
    float: right;
}
#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url('../img/lines.png') repeat-x;
}
#sidebar h4 span{
    background: white;
    padding: 5px;
}
#sidebar img{
    width: 100%;
}
#sidebar p{
    font-size: 15px;
    text-align: justify;
}
form input[type="text"],
form input[type="password"],
form input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
}
form input[type="submit"]{
    background: #ccc;
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 47px;
    background: rgb(51,51,51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}
.bx-wrapper, .bx-viewport{
    height: 250px !important;
}
#selectorTheme{
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 100px;
}
#toGreen,
#toRed,
#toBlue{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
#toGreen{
    background: #235E3D;
    cursor: pointer;
}
#toRed{
    background: #ca3413;
    cursor: pointer;
}
#toBlue{
    background: #1F87C4;
    cursor: pointer;
}
.subir{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}