body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}
#logo{
    background: #ca3413;
}
#menu ul li:hover{
    background: #ca3413;
}
.buttonMore{
    background: #ca3413;
}