/* You can add global styles to this file, and also import other style files */
/*      Importar fuentes customizada    */
@font-face{
    font-family: "yanone";
    src: url("../src/assets/fonts/yanone.ttf");
}
@font-face{
    font-family: "finger";
    src: url("../src/assets/fonts/finger.ttf");
}
/*      Generales    */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "yanone",Arial, Helvetica;
    font-size: 20px;
    background:url(../src/assets/img/pattern.png);
    background-attachment: fixed;
}
.clearfix{
    clear: both;
    float: none;
}

/*      Header    */
header{
    width: 100%;
    height: auto;
    background: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}
header ul{
    display: block;
    width: 40%;
    height: inherit;
    margin: 0px auto;
}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 85px;
}
header ul li a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}
header a:hover{
    background: rgba(0, 0, 0, 0.8);
}
header #logo a:hover{
    background: transparent;
}